* {
    padding: 0;
    margin: 0;
    /* border: 4px solid red; */
}

html {
    height: 100%;
}

body {
    background: #222;
}

main {
    display:flex;
    height: 100%;
    flex-direction: row;
}

.div-lside, .div-rside {
    margin: 0.2rem;
    width: 50%;
    display: flex;
    flex-direction: column;
}

.div-rside div {
    margin: 0.5rem;
    height: 50%;
}

.div-lside {
    flex: 2;
    display: flex;
    flex-direction: row;
    flex-flow:row wrap;
}

.div-lside .div-lside-col {
    border: 1px solid rgb(255, 242, 53);
}

.div-rside {
    flex:1
}

.news {
    border: 0.2rem solid rgb(255, 242, 53);;
    background: url("../image/news.jpg");
    background-size: cover;
    background-position: center;

}

.todo {
    border: 0.2rem solid rgb(255, 242, 53);;
    background: url("../image/todo.png");
    background-size: cover;
    background-position: center;
}

.article-h1, .article-p {
    font-family:'Lato', sans-serif;
    color: rgb(128, 128, 128);
    margin: 4rem 8rem 0 2rem;
}

.article-h1 {
    font-size: 3rem;
}

.article-p {
    line-height: 1.4rem;
}














header {
    background: url("../image/banner.jpg");
    background-position: center;
    background-size: cover;
    opacity: 70%;
    height: 20rem;
}

header nav {
    opacity: 100%;
}

header nav ul {
    list-style-type: none;
    overflow: hidden;
    display:flex;
}

header nav ul li {
    display: inline-block;  
}

header nav ul li a {
    display: block;
    text-decoration: none;
    color: rgb(128, 128, 128);
    font: 1rem Arial, sans-serif;
    padding: 1rem;
    transition: 0.3s;
}

header nav ul li a:hover {
    background: rgba(54, 54, 54, 0.5);
    color: rgb(255, 242, 53);
}

.nav-logo {
    margin-left: auto;
}

footer {
    display: block;
    padding: 1rem;
}

footer ul li a {
    text-decoration: none;
    color: rgb(128, 128, 128);

}

main div article p {
    display: inline-block;
}