*{
    padding: 0;
    margin: 0;
    font-family: 'Poppins', sans-serif;
    color: white;
    -webkit-appearance: none;
    -webkit-border-radius: 0;
}

h1 {
    font-size: 2rem;
    font-weight: lighter;
}

.loader {
    position: absolute;
    top: 0;
    height: 1rem;
    background: rgb(0, 117, 153);
}

.grid-container {
    display: grid;
    grid-template: auto auto auto / auto;
}

body {
    background: #0e0e0e;
}

/* Header */

header {
    grid-row: 1;
}

/* Header Forms */

header .form-search {
    display: grid;
    grid-template: auto auto / auto;
}

header .form-search .form-latlon {
    display: grid;
    grid-template: auto / 40% 40% 20%;
    grid-row: 1;
    grid-column: 1;
}

header .form-search .form-city {
    display: grid;
    grid-template: auto / 40% 40% 20%;
    grid-row: 2;
    grid-column: 1;
    border-bottom: 1px solid black;
}

header .form-search .form-latlon .input-lat { grid-row: 1; grid-column: 1;}
header .form-search .form-latlon .input-lon { grid-row: 1; grid-column: 2;}
header .form-search .form-latlon .submit { grid-row: 1; grid-column: 3;}
header .form-search .form-city .input-city { grid-row: 1; grid-column: 1/3;}
header .form-search .form-city .submit { grid-row: 1; grid-column: 3;}

header figure form input{
    height: 2.5rem;
    border: none;
    color: white;
    background: #222;
}

textarea:focus, input:focus{
    outline: none;
}

header figure form .submit {
    color: white;
}

/* Weather */

.article-days {
    margin: 1rem 1rem 0 1rem;
    overflow: hidden;
    border-bottom: 1px solid gray;
}

.article-days .days-title {
    display: grid;
    grid-template: auto / 50% 50%;
    list-style: none;
}

.article-days .button-others {
    width: 100%;
    border: none;
    height: 1.8rem;
    cursor: pointer;
    background: transparent;
    text-align: start;
    display: flex;
}

.article-days .button-others p {
    color: white;
}

.article-days .ul-others {
    display: grid;
    grid-template: auto auto / auto ;
    padding: 0 0 0 1rem;
    list-style: none;
}

.article-days .ul-others .w-speed {grid-row: 1; grid-column: 1;}
.article-days .ul-others .w-dir {grid-row: 2; grid-column: 1;}


/* Main */

main {
    grid-row: 2;
    display: grid;
    grid-template: 20rem auto / auto;
}

/* Todays Weather*/

main .article-today {
    grid-row: 1;
    background: #0e0e0e;
    padding: 1rem 0 1rem 0;
}

main .article-today .today-img {
    display: grid;
    grid-template: auto / 50% 50%;
}

main .article-today .today-img img, header .article-days .days-title li img{
    grid-column: 1;
    border: none;
    margin: 0 0 1rem 0;
    height: 5rem;
}

main .article-today .today-img p {
    grid-column: 2;
}

main .article-today article {
    display: flex;
}

main .article-today .today-other {
    list-style: none;
    display: grid;
    grid-template: auto auto auto / 50% 50%;
}

main .article-today .today-other .rh {grid-row: 1; grid-column: 1;}
main .article-today .today-other .w-speed {grid-row: 2; grid-column: 1;}
main .article-today .today-other .w-dir {grid-row: 2; grid-column: 2;}
main .article-today .today-other .s-rise {grid-row: 3; grid-column: 1;}
main .article-today .today-other .s-set {grid-row: 3; grid-column: 2;}

main .article-today .today-title {
    display: flex;
    flex-direction: row;
    list-style: none;
    margin: 0 0 1rem 0;
}

main .article-today .today-title li {
    font-size: 2rem;
    margin: 0 3rem 0 0;
}


/* Footer */

footer {
    grid-row: 3;
}




@media (min-width: 500px) {
    .article-today {
        background: url("../image/banner/1024x800.png");
        background-size: cover;
        background-position: center;
    }
}

@media (min-width: 1300px) {
    .grid-container {
        display: grid;
        grid-template: auto / 100vh auto;
    }

    header {
        grid-row: 1;
        grid-column: 2;
        height: fit-content;
    }

    header form input{
        padding: 0 0 0 0.5rem;
    }

    .article-days {
        grid-row: 1;
        grid-column: 2;
    }

    main {
        grid-row: 1;
        grid-column: 1;
        display: grid;
        grid-template: auto / 100vh auto;
    }

    main .article-today {
        grid-row: 1;
        grid-column: 1;
        padding: 0;
        height: 100vh;
        display: grid;
        grid-template: 70vh auto auto auto / auto;
        background: url("../image/banner/1920x1200.png");
        background-size: cover;
        background-position: center;
    }

    main .article-today .today-img {
        padding: 0 0 0 1rem;
        grid-row: 3;

    }
    main .article-today .today-other {
        padding: 0 0 0 1rem;
        grid-row: 4;
    }   
    main .article-today .today-title {
        padding: 0 0 0 1rem;
        grid-row: 2;
    }


}

@media (min-width: 1920px) {
    main .article-today {
        background: url("../image/banner/2560x1600.png");
        background-size: cover;
        background-position: center;
    }
}